<H2>Welcome to {{ ansible_hostname }} at {{ ansible_local['custom']['customer']['company'] }}!</H2>
<p>This webserver has {{ ansible_memtotal_mb }}MB of RAM to serve up your requests on {{ ansible_eth1['ipv4']['address'] }}. If you have any questions, please email {{ ansible_local['custom']['customer']['contact'] }}</p>
