Welcome to {% if ansible_hostname in groups['proxy'] %}HAProxy{% endif %}{% if ansible_hostname in groups['database'] %}MySQL{% endif %}{% if ansible_hostname in groups['webservers'] %}Apache{% endif %} server.
