<HTML>
<head><title>You are visiting {{ ansible_fqdn }}</title>
</head>
<body>
<div align="center">
<h1>OBEY {{ ansible_eth1['ipv4']['address'] }}</h2>
<img src="obey.png">
<p>{{ ansible_hostname }} has a posse</p>
</div>
</body>
</HTMl>
